<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp: Campgrounds</title>
</head>
<body>
    <h1>Yelp Camp</h1>
    <a href="/">Home</a>
    <a href="/campgrounds/new">New</a>
    <hr>
    <h2>All Campgrounds</h2>
    <ul>
        <% for (campground of campgrounds) { %>
            <li><a href="/campgrounds/<%=campground._id%>/show"><%=campground.title%></a> - <%=campground.location%></li>
        <% } %>
    </ul>
</body>
</html>
