<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All the animals!</title>
  </head>
  <body>
    <h1>All the animals!</h1>
    <% for r in  %>
  </body>
</html>
